﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using PRN211_Project.Models
@model PRN211_Project.Models.Question


<div style="margin: 0px auto; width: 70%">
    <h1 style="text-align: center">Create</h1>
    <form asp-controller="Question" asp-action="AddQuestion" method="post">
        <table class="table">
            <tr>
                <td>
                    <label asp-for="Content">Question Content(*)</label>
                    <input type="text" asp-for="Content" class="form-control" required />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Type">Question Type(*)</label>
                    <input type="text" asp-for="Type" class="form-control" required />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </td>

                </
            </tr>
            <tr>
                <td>
                    <label asp-for="Point">Question Point</label>
                    <input type="number" min="0.1" asp-for="Point" class="form-control" required />
                    <span asp-validation-for="Point" class="text-danger"></span>
                </td>
            </tr>
            </tr>
            <label>Quiz</label>
            <td>
                <div class="form-group">
                    <input id="QuizId" asp-for="QuizId" value="@ViewBag.quizid" readonly class="form-control">
                    </input>
                </div>
            </td>
            </tr>
            <tr>
                <td>
                    <label>Answers:</label><br>
                    <label>
                        <input type="radio" name="answer" value="1" required /> a)
                        <input class="form-control" type="text" name="c" required />
                    </label><br>
                    <label>
                        <input type="radio" name="answer" value="2" required /> b)
                        <input class="form-control" type="text" name="c" required />
                    </label><br>
                    <label>
                        <input type="radio" name="answer" value="3" required /> c)
                        <input class="form-control" type="text" name="c" required
                    </label><br>
                    <label>
                        <input type="radio" name="answer" value="4" required /> d)
                        <input class="form-control" type="text" name="c" required />
                    </label><br>
                </td>
            </tr>
        </table>

        <br />

        <input type="submit" value="Add" class="btn btn-primary" />
        <a asp-controller="Question" asp-action="Index" class="btn btn-secondary">Back to list</a>
    </form>
</div>

<style>
    /* Center the form and give it some spacing */
    div {
        margin: 20px auto;
        width: 70%;
    }

    /* Center the heading */
    h1 {
        text-align: center;
    }

    /* Style the table */
    .table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }

        /* Style table rows */
        .table tr {
            border-bottom: 1px solid #ccc;
        }

        /* Style table cells */
        .table td {
            padding: 10px;
            border-right: 1px solid #ccc;
        }

    /* Style the form labels */
    label {
        font-weight: bold;
    }

    /* Style the radio buttons */
    input[type="radio"] {
        margin-right: 5px;
    }

    /* Add margin to the answer labels */
    label[for^="answer"] {
        margin-right: 10px;
    }

    /* Style the input fields */
    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }

    /* Style the buttons */
    .btn {
        margin-top: 10px;
    }
</style>
