﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
@model PRN211_Project.Models.Question

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Question</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 70%;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

            .table tr {
                border-bottom: 1px solid #ccc;
            }

            .table td {
                padding: 10px;
                border-right: 1px solid #ccc;
            }

        label {
            font-weight: bold;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        label[for^="answer"] {
            margin-right: 10px;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
        }

        .btn {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Create</h1>
        <form asp-controller="Question" asp-action="AddQuestion" method="post">
            <table class="table">
                <tr>
                    <td>
                        <label asp-for="Content">Question Content(*)</label>
                        <input type="text" asp-for="Content" class="form-control" required />
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Type">Question Type</label>
                        <input type="text" asp-for="Type" class="form-control" value="Multiple choice" readonly required />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Point">Question Point</label>
                        <input type="number" min="0.1" step="0.1" asp-for="Point" class="form-control" required />
                        <span asp-validation-for="Point" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Quiz</label>
                        <div class="form-group">
                            <select id="QuizId" asp-for="QuizId" class="form-control">
                                <option value="">-- Select Quiz --</option>
                                @foreach (var item in (SelectList)ViewBag.Quizzes)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Answers:</label><br>
                        <label>
                            <input type="radio" name="answer" value="1" required /> a)
                            <input class="form-control" type="text" name="c" required />
                        </label><br>
                        <label>
                            <input type="radio" name="answer" value="2" required /> b)
                            <input class="form-control" type="text" name="c" required />
                        </label><br>
                        <label>
                            <input type="radio" name="answer" value="3" required /> c)
                            <input class="form-control" type="text" name="c" required />
                        </label><br>
                        <label>
                            <input type="radio" name="answer" value="4" required /> d)
                            <input class="form-control" type="text" name="c" required />
                        </label><br>
                    </td>
                </tr>
            </table>

            <input type="submit" value="Add" class="btn btn-primary" />
            <a asp-controller="Question" asp-action="List" class="btn btn-secondary">Back to list</a>
        </form>
    </div>
</body>
</html>
