﻿@using PRN211_Project.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Question

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Question</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
        }

        .container {
            width: 80%;
            margin: 50px auto;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="radio"] {
            margin-right: 5px;
            vertical-align: middle;
        }

        p {
            font-weight: bold;
            margin-top: 15px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <form asp-controller="Question" asp-action="EditProcess" method="post">
            <label for="questionText">Question Text:</label>
            <input type="hidden" asp-for="QuestionId" value="@Model.QuestionId" />
            <input type="text" asp-for="Content" value="@Model.Content" required />

            <p>Answers:</p>
            @for (int i = 0; i < ViewBag.Choice.Count; i++)
            {
                Choice c = ViewBag.Choice[i];
                <input type="hidden" name="choices[@i].ChoiceId" value="@c.ChoiceId" />

                <input type="radio" name="correctAnswerId" value="@c.ChoiceId" @(c.IsCorrect ? "checked" : "") />
                <input type="text" name="choices[@i].Content" value="@c.Content" required />
            }

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
