﻿@using PRN211_Project.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Question>



<div style="display:flex; align-content:start; margin-top: 20px;margin-left:20px">
    <form asp-controller="Home" asp-action="HomePage">
        <button>Back to the Home Page</button>
    </form>
</div>
<div style="width:50%;float:left"> <a asp-controller="Question" asp-action="AddQuestion"> Create a new Question</a></div>
<div class="container mt-5">

    @if (TempData["msg"] != null)
    {
        <p id="message" style="color:red">@TempData["msg"]</p>

        <script>
            // Function to hide the message
            function hideMessage() {
                var message = document.getElementById("message");
                if (message) {
                    message.style.display = "none";
                }
            }

            // Call the hideMessage function after the specified delay
            setTimeout(hideMessage, 3000); // 3000 milliseconds = 3 seconds
        </script>
    }
    <table width="100%" border="1">
        <tr>
            <th>Quiz</th>
            <th>QuestionContent</th>
            <th>QuestionType</th>
            <th>QuestionPoint</th>
            <th colspan="2">Action</th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Quiz.Title</td>
                <td>@e.Content</td>
                <td>@e.Type</td>
                <td>@e.Point</td>
                <td>
                    <a asp-controller="Question" asp-action="DetailQuestion" asp-route-id="@e.QuestionId">Edit</a>
                </td>


                <td>
                    <form asp-controller="Question" asp-action="DeleteQuestion" method="post">

                        <button type="submit" asp-route-id="@e.QuestionId" asp-action="DeleteQuestion" class="btn-link">Delete</button>

                    </form>
                </td>


            </tr>
        }




    </table>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 80%;
        margin: 50px auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    a {
        text-decoration: none;
    }

    .btn-link {
        background: none;
        border: none;
        color: #007bff;
        cursor: pointer;
    }

        .btn-link:hover {
            text-decoration: underline;
        }

</style>