﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Exam Selection</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .exam-row {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .exam-box {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        .exam-title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .exam-details {
            margin-top: 5px;
            font-size: 14px;
            color: #666;
        }

        .start-button {
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration: none;
            background-color: #3498db;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;
        }
    </style>
</head>
<body>
    <h1>Online Exam Selection</h1>
    <div class="exam-row">
        @foreach (Quiz q in ViewBag.quiz)
        {
            <div class="exam-box">
                <p class="exam-title">@q.Title</p>
                <p class="exam-details">Time: @q.Time</p>
                <p class="exam-details">Subject: @q.Subject.SubjectName</p>
                <a class="start-button" asp-controller="DoQuizz" asp-action="Quiz" asp-route-quizid="@q.QuizId">Start Exam</a>
            </div>
        }

    </div>
    <!-- You can add more exam rows here -->
</body>
</html>