﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .exam-container {
            max-width: 800px;
            margin: 100px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        .question h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .options label {
            display: block;
            margin-bottom: 10px;
        }

        button {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #0056b3;
            }

        #countdown {
            font-size: 48px;
            font-weight: bold;
            color: #333;
            margin-left: 150px
        }
    </style>
</head>
<body>

    <div class="exam-container">
        <div id="countdown"></div>
        <br />

        <form id="quizForm" asp-controller="DoQuizz" asp-action="Result" asp-route-userid="@ViewBag.userid">
            @foreach (Question q in @ViewBag.questions)
            {

                <div class="question">
                    @if ((q.QuestionId % 5) == 0)
                    {
                        <h1>Question 5:</h1>
                    }
                    @if ((q.QuestionId % 5) != 0)
                    {
                        <h1>Question @(q.QuestionId % 5):</h1>
                    }
                    <p>@q.Content</p>
                </div>
                <div class="options">
                    @foreach (Choice c in @ViewBag.choices)
                    {
                        @if (c.QuestionId == q.QuestionId)
                        {
                            <label>
                                <input id="point" type="radio" name="@c.QuestionId" value="@c.IsCorrect" onclick="change()"> @c.Content
                            </label>
                        }
                    }
                </div>
                <br />

            }
            <button id="submitBtn" type="submit">Submit Quiz</button>
        </form>
    </div>
    <script>

        const countdownEndTime = new Date("@ViewBag.time");

        function updateCountdown() {
            const currentTime = new Date().getTime();
            const timeRemaining = countdownEndTime - currentTime;

            if (timeRemaining <= 0) {
                window.location.href = '@Url.Action("Result", "DoQuizz")';

            } else {
                const seconds = Math.floor(timeRemaining / 1000);
                const minutes = Math.floor(seconds / 60);
                const remainingSeconds = seconds % 60;

                const formattedTime = `${minutes}:${remainingSeconds.toString().padStart(2, '0')}`;
                document.getElementById("countdown").textContent = `Time remaining: ${formattedTime}`;
            }
        }

        // Update the countdown every second
        updateCountdown();
        setInterval(updateCountdown, 1000);


        function change() {
            window.location.href = '@Url.Action("Result", "DoQuizz")';
        }


        $(document).ready(function () {
            $('input[type="radio"]').on('click', function () {
                var selectedValue = $('input[name="answer"]:checked').val();

                // Make AJAX request
                $.ajax({
                    type: 'POST', // Or 'GET' depending on your server setup
                    url: '/your-server-endpoint', // Replace with your server endpoint
                    data: { value: selectedValue },
                    success: function (response) {
                        $('#result').html(response);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
