﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        .exam-container {
            max-width: 800px;
            margin: 100px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        }

        .question h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .options label {
            display: block;
            margin-bottom: 10px;
        }

        button {
            display: block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            button:hover {
                background-color: #0056b3;
            }

        #countdown {
            font-size: 48px;
            font-weight: bold;
            color: #333;
            margin-left: 150px
        }
    </style>
</head>
<body>

    <div class="exam-container">
        <div id="countdown"></div>
        <br />
        <form id="quizForm" asp-controller="DoQuizz" asp-action="DoQuizz" asp-route-quizid="@ViewBag.quizid" asp-route-questionid="@ViewBag.questionid">
            @foreach (Question q in @ViewBag.questions)
            {
                <div class="question">
                    @if ((q.QuestionId % 5) == 0)
                    {
                        <h1>Question 5:</h1>
                    }
                    @if ((q.QuestionId % 5) != 0)
                    {
                        <h1>Question @(q.QuestionId % 5):</h1>
                    }
                    <p>@q.Content</p>
                </div>
                <div class="options">
                    @foreach (Choice c in @ViewBag.choices)
                    {
                        <label>
                            @*<input id="point" type="radio" name="answer" value="@c.ChoiceId" onclick="change()"> @c.Content*@
                            @Html.RadioButton("answer",@c.ChoiceId) <span>@c.Content</span>
                        </label>
                    }
                </div>
                <br />

            }
            <div style="display:flex">
                <button id="submitBtn" type="submit">Next Page</button>
            </div>
        </form>
    </div>
    <script>

        const countdownEndTime = new Date("@ViewBag.time");

        function updateCountdown() {
            const currentTime = new Date().getTime();
            const timeRemaining = countdownEndTime - currentTime;
            if (timeRemaining === 5){
                alert("You have 5 more seconds");
            }
            var url = '@Url.Action("Result", "DoQuizz")' + '?quizid=@ViewBag.quizid'
            if (timeRemaining <= 0) {

                window.location.href = url;

            } else {
                const seconds = Math.floor(timeRemaining / 1000);
                const minutes = Math.floor(seconds / 60);
                const remainingSeconds = seconds % 60;

                const formattedTime = `${minutes}:${remainingSeconds.toString().padStart(2, '0')}`;
                document.getElementById("countdown").textContent = `Time remaining: ${formattedTime}`;
            }
        }

        // Update the countdown every second
        updateCountdown();
        setInterval(updateCountdown, 1000);


        function change() {
            window.location.href = '@Url.Action("Result", "DoQuizz")';
        }


    
    </script>
</body>
</html>
