﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .quiz-history {
            list-style: none;
            padding: 0;
        }

        .quiz-item {
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .quiz-item .text {
                font-size: 14px;
                color: #888;
            }

            .quiz-item .score {
                font-size: 18px;
                font-weight: bold;
                color: #4caf50;
            }
    </style>
</head>
<body>
    <div style="display:flex; align-content:start; margin-top: 20px;margin-left:20px">
        <form asp-controller="Home" asp-action="HomePage">
            <button>Back to the Home Page</button>
        </form>
    </div>
    <div class="container">
        <form asp-controller="DoQuizz" asp-action="AllHistory">
            <button>Back</button>
        </form>
        <h1>Quiz History</h1>
   
        <ul class="quiz-history">
            <li class="quiz-item">
                <span class="text"><h3>User</h3></span>
                <span class="text"><h3>Quizz</h3></span>
                <span class="score"><h3>Score</h3></span>
            </li>
            @foreach (DoQuiz d in @ViewBag.DoQuizzes)
            {
                <li class="quiz-item">
                    <span class="text">@d.User.Username</span>
                    <span class="text">@d.Quiz.Title</span>
                    <span class="score">@(d.Score)/10</span>
                </li>
            }

        </ul>
    </div>
</body>
</html>