﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
@model Quiz
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Exam Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        .exam {
            border: 1px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .exam h2 {
                margin-top: 0;
            }

            .exam p {
                margin: 10px 0;
            }
    </style>
</head>
<body>
    <div class="exam">
        <h2>@Model.Title</h2>
        <p><strong>Subject:</strong> @ViewBag.subject</p>
        <p><strong>Time:</strong> @Model.Time</p>
        <p><strong>Instructions:</strong> This online quiz will cover various topics in @ViewBag.subject. Make sure you have a stable internet connection and a quiet environment to take the exam.</p>
        <p><strong>Access Link:</strong> <a asp-controller="DoQuizz" asp-action="DoQuizz" asp-route-quizid="@ViewBag.quizid" asp-route-questionid="@ViewBag.questionid">Click here to access the exam</a></p>
    </div>
</body>
</html>