﻿@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Results</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .score {
            font-size: 27px;
        }
    </style>
</head>
<body>
    <h1>Test Results</h1>
    <p>Hello, <span>@ViewBag.name</span>!</p>
    @*<p>Start exam at: @ViewBag.start</p>*@
    <p>Submitted @ViewBag.end</p>
    <p>Your time: @ViewBag.time</p>
    <p class="score">Your score: @ViewBag.point <span class="score" id="userScore"></span></p>
        <form asp-controller="Home" asp-action="HomePage">
            <button>Back to the Home Page</button>
        </form>
    <script>
        // Replace these placeholders with actual user name and score
        var userName = "@ViewBag.name";
        var userScore = 2


        // Update content with actual user data
        document.getElementById("userName").textContent = userName;
    </script>
</body>
</html>