﻿@using System.Text.Json;
@using PRN211_Project.Models;

@{
    Layout = "_Layout";
}
@{
    string userJson = ViewBag.User as string;
    User user = null;
    if (userJson != null)
    {
        user = JsonSerializer.Deserialize<User>(userJson);
    }
}

@{
    int roleId = 0; // Mặc định giá trị RoleId là 0

    var userRoleValue = ViewBag.Role;

    if (userRoleValue != null)
    {
        roleId = (int)userRoleValue;
    }
}

<!--? slider Area Start-->
<section class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    @if (user == null)
                    {
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInLeft" data-delay="0.2s">Quiz Online</h1>
                                <p data-animation="fadeInLeft" data-delay="0.4s"></p>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
@*!-- ? services-area -->
       <!-- Courses area End -->
       <!--? About Area-1 Start -->*@
        </section>
<!-- About Area End -->