﻿<!DOCTYPE html>
<html>
<head>
    <title>Exam Countdown</title>
    <style>
        /* Add your CSS styles here */
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .countdown {
            color: white;
            font-size: 20px;
            float: right;
            padding: 14px 16px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <div class="countdown" id="countdown"></div>
    </div>

    <script>
        // Set the exam end time in milliseconds
        var examEndTime = new Date().getTime() + 60 * 60 * 1000; // 1 hour from now

        // Update the countdown every second
        var countdownInterval = setInterval(function () {
            var now = new Date().getTime();
            var timeRemaining = examEndTime - now;

            var hours = Math.floor(timeRemaining / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = "Time Left: " + hours + "h " + minutes + "m " + seconds + "s ";

            if (timeRemaining < 0) {
                clearInterval(countdownInterval);
                document.getElementById("countdown").innerHTML = "Time's up!";
            }
        }, 1000); // Update every second
    </script>
</body>
</html>