﻿@using PRN211_Project.Models;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PRN211_Project.Models.User

<!doctype html>

<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/animated-headline.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <jsp:include page="/user/navigator/header.jsp" />

    @{
        string imagePath = Url.Content("~/Logo/bgalpha.png");
    }

    <style>
        .login-body[data-is-background-set="true"] {
            background-image: url('@imagePath');
        }
    </style>




    <main class="login-body" id="loginBody" data-is-background-set="false"></main>

    <!-- Login Admin -->
    <form class="form-default" asp-controller="Account" asp-action="CreateAdmin" method="POST" id="formRegister">
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="/Home/HomePage"><img src="~/Logo/loder.png" alt=""></a>
            </div>
            <h2 class="title-head">Create Admin <span></span></h2>
            @if (TempData["msg"] != null)
            {
                <div class="ml-auto" role="alert" style="color: red">
                    @TempData["msg"]
                </div>
            }
            <div class="form-input" hidden>
                <div class="input-icon">
                    <span class="fables-iconpassword fables-input-icon font-19 mt-1"></span>
                    <input asp-for="Password" type="password" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Password" value="123456abc">
                </div>
                <div style="color: red; font-size:10px; text-align:left">
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>
            </div>
            <div class="form-input" hidden>
                <div class="input-icon">
                    <span class="fables-iconpassword fables-input-icon font-19 mt-1"></span>
                    <input name="repass" type="password" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Repeat Password" value="123456abc">
                </div>
                @if (TempData["errorpass"] != null)
                {
                    <div style="color: red; font-size:10px; text-align:left">
                        <span style="color:red">@TempData["errorpass"]</span>
                    </div>
                }

            </div>
            <div class=" form-input">
                <div class="input-icon">
                    <span class="fables-iconuser-register fables-input-icon mt-2 font-13"></span>
                    <input id="name" type="text" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" asp-for="Username" placeholder="Name">
                </div>
                <div style="color: red; font-size:10px; text-align:left">
                    <span asp-validation-for="Username" style="color:red"></span>
                </div>
            </div>
            <div class="form-input">
                <div class="input-icon">
                    <span class="fables-iconemail fables-input-icon mt-2 font-13"></span>
                    <input asp-for="Email" type="email" id="email" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Email">
                </div>

                <div style="color: red; font-size:10px; text-align:left">
                    <span style="color:red; font-size:10px; text-align:left" id="errorMessage"></span>
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>
            </div>
            <div class="form-input">
                <div class="input-icon">
                    <span class="fables-iconphone-icon fables-input-icon font-19 mt-1"></span>
                    <input asp-for="Phone" type="text" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Phone number">
                </div>
                <div style="color: red; font-size:10px; text-align:left">
                    <span asp-validation-for="Phone" style="color:red"></span>
                </div>
            </div>
            <div class="form-input">
                <div class="input-icon">
                    <span class="fables-iconmap-icon fables-input-icon font-19 mt-1"></span>
                    <input asp-for="Address" type="text" class="form-control rounded-0 py-3 pl-5 font-13 sign-register-input" placeholder="Address">
                </div>
                <div style="color: red; font-size:10px; text-align:left">
                    <span asp-validation-for="Address" style="color:red"></span>
                </div>
            </div>
            <div class="form-input pt-30">
                <input type="submit" value="Create">
            </div>

        </div>
    </form>
    <!-- /end login form -->
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var imagePath = '@imagePath';
            var loginBody = document.getElementById('loginBody');

            // Chỉ đặt ảnh nền nếu chưa có ảnh nền được đặt
            if (loginBody.getAttribute('data-is-background-set') === 'false') {
                loginBody.setAttribute('data-is-background-set', 'true');
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Tạo toast thông báo và tùy chỉnh màu sắc
            //toastr.options = {
            //    "positionClass": "toast-top-right",
            //    "closeButton": true,
            //    "progressBar": true,
            //    "timeOut": 5000, // Thời gian hiển thị toast (tính bằng mili giây)
            //    "extendedTimeOut": 2000, // Thời gian hiển thị tiếp tục nếu người dùng di chuột qua toast (tính bằng mili giây)
            //    "tapToDismiss": false, // Ngăn người dùng tắt toast bằng cách nhấp chuột
            //    "preventDuplicates": true, // Ngăn toast trùng lặp
            //    "progressBarColor": "#FF3366", // Màu của thanh tiến trình
            //    "toastClass": "custom-toast" // Lớp CSS tùy chỉnh cho toast
            //};
            //$("#name").on("keyup",function () {
            //    event.preventDefault();
            //    checkName();
            //});
            //$("#email").on("keyup", function () {
            //    event.preventDefault();
            //    checkEmail();
            //});

            $("#formRegister").submit(function () {
                event.preventDefault();
                //alert(checkName());
                checkName();
                checkEmail();
                if (document.getElementById("errorMessage").textContent == "") {
                    document.getElementById("formRegister").submit();

                }
            });

            function checkName() {
                event.preventDefault();
                alert('hi name');
                var email = document.getElementById("email").value;
                var name = document.getElementById("name").value;
                //alert(email);
                $.ajax({
                    url: "/Account/CheckName",
                    data: { name: name },
                    type: "POST",
                    success: function (data) {
                        if (!data.success) {
                            $("#errorMessage").text(data.message);
                            toastr.success(data.message);

                        } else {
                            $("#errorMessage").text("");
                            // Handle successful validation here
                        }
                    }
                });
            }

            function checkEmail() {
                event.preventDefault();
                alert('hi email');
                var email = document.getElementById("email").value;
                var name = document.getElementById("name").value;
                //alert(email);
                $.ajax({
                    url: "/Account/CheckEmail",
                    data: { email: email },
                    type: "POST",
                    success: function (data) {
                        if (!data.success) {
                            $("#errorMessage").text(data.message);

                        } else {
                            $("#errorMessage").text("");
                            // Handle successful validation here
                        }
                    }
                });
            }

        }
    </script>


    <jsp:include page="/user/navigator/footer.jsp" />
    <script src="~/js/js1.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/js2.js"></script>
    <script src="~/js/js3.js"></script>
    <script src="~/js/js4.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/js5.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/js6.js"></script>
    <script src="~/js/js7.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/js8.js"></script>
    <script src="~/js/js9.js"></script>
    <script src="~/js/js10.js"></script>

    <!-- Date Picker -->
    <script src="~/js/js11.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/js/js12.js"></script>
    <script src="~/js/js13.js"></script>
    <!-- Progress -->
    <script src="~/js/js14.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/js/js15.js"></script>
    <script src="~/js/js16.js"></script>
    <script src="~/js/js17.js"></script>
    <script src="~/js/js18.js"></script>

    <!-- contact js -->
    <script src="~/js/js19.js"></script>
    <script src="~/js/js20.js"></script>
    <script src="~/js/js21.js"></script>
    <script src="~/js/js22.js"></script>
    <script src="~/js/js23.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/js/js24.js"></script>
    <script src="~/js/js25.js"></script>

</body>
</html>