﻿@using PRN211_Project.Models;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>

    </style>
</head>
<body>
    <div class="container-fluid" style="max-width: 80vw">
        <div class="row">
            <div class="col-md-3 sidebar">
                <!-- Navigation content here -->
                <p>Information & Contact</p>
                <nav>
                    <ul class="custom-nav">
                        <li><a asp-controller="Account" asp-action="Information">Information</a></li>
                        <li><a asp-controller="Account" asp-action="user_change_password">Change password</a></li>
                        <li><a asp-controller="DoQuizz" asp-action="HistoryByUser" asp-route-userid="@Context.Session.GetInt32("UserId")">Do quiz history</a></li>

                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 content">
                <form asp-controller="Account" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="card mb-4 detail-card">
                        <h5 class="card-header">Profile Details</h5>
                        <!-- Account -->
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">

                                <img src="~/avatars/@Model.Avatar"
                                     alt="user-avatar"
                                     class="d-block rounded"
                                     height="100"
                                     width="100"
                                     id="preview" />
                                <div class="button-wrapper">
                                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                        <span class="d-none d-sm-block" onclick="document.getElementById('thumbnail').click()">Upload new photo</span>
                                        <i class="bx bx-upload d-block d-sm-none"></i>
                                        <input type="file"
                                               id="thumbnail" name="filename" onchange="previewImage();"
                                               class="account-file-input"
                                               hidden
                                               accept="image/png, image/jpeg" />
                                    </label>
                                    <button type="button" class="btn btn-outline-secondary mb-4" onclick="resetInput('/avatars/@Model.Avatar') ">
                                        <i class="bx d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Reset</span>
                                    </button>

                                    <!--<p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>-->
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <!--<form id="formAccountSettings" method="POST" onsubmit="return false">-->
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="col-form-label" for="basic-default-name">Name</label>
                                    <input @*asp-for="Username"*@ type="text" class="form-control" id="name" placeholder="Name" name="name" value="@Model.Username" onchange="checkName()" />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input @*asp-for="Email"*@ type="text" class="form-control" id="email" name="email" value="@Model.Email" readonly />
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="phone">Phone Number</label>
                                    <div class="input-group input-group-merge">
                                        <span class="input-group-text">VN (+89)</span>
                                        <input type="text" id="phone"
                                               class="form-control"
                                               name="phone" value="@Model.Phone" />
                                    </div>

                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">Address</label>
                                    <input @*asp-for="Address"*@ type="text" class="form-control" id="address" name="address" value="@Model.Address" />
                                </div>

                                <div style="color: red; font-size:10px; text-align:left">
                                    <span style="color:red; font-size:10px; text-align:left" id="errorMessage"></span>
                                </div>
                            </div>
                            <div class="mt-2">
                                <input class="btn btn-primary me-2" type="submit" name="infochange" value="Save changes">
                                <a type="button" class="btn btn-outline-secondary" href="#">Cancel</a>
                            </div>
                            <!--                                                                </form>-->
                        </div>

                        <!-- /Account -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Link to Bootstrap JS (Optional, if you need JavaScript functionality) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            function previewImage() {
                var preview = document.getElementById('preview');
                var file = document.getElementById('thumbnail').files[0];
                if (file.size > 2 * 1024 * 1024) {
                    alert("Dung lượng ảnh vượt quá giới hạn cho phép!");
                    document.getElementById('thumbnail').value = "";
                } else {
                    var reader = new FileReader();

                    reader.onloadend = function () {
                        preview.src = reader.result;
                    };

                    if (file) {
                        reader.readAsDataURL(file);
                    } else {
                        preview.src = "";
                    }
                }
            }
            function resetInput(s) {
                document.getElementById("preview").src = s;
            }

            $("#formInfo").submit(function () {
                event.preventDefault();
                //alert(checkName());
                checkName();
            });

            function checkName() {
                event.preventDefault();
                //alert('hi');
                //var email = document.getElementById("email").value;
                var name = document.getElementById("name").value;
                //if (name == @Model.Username){ return true;}
                //alert('' + name);
                $.ajax({
                    url: "/Account/CheckName",
                    data: { name: name },
                    type: "POST",
                    success: function (data) {
                        if (!data.success) {
                            $("#errorMessage").text(data.message);
                        } else {
                            $("#errorMessage").text("");
                            document.getElementById("formInfo").submit();
                        }
                    }
                });
            }
        });
    </script>
</body>

</html>

