﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN211_Project.Models
@model User

<div>

    <div style="text-align: center">
        <h1>List of Account</h1>
    </div>


    <div style="margin:10px auto; width:70%" class="row">
        <div style="border:1px solid green" class="col-2">
            <a asp-action="Manager" asp-controller="Account" style="color:black">All role(s)</a>
            <ul>
                @foreach (var c in ViewBag.roles)
                {
                    <li>
                        <a asp-action="Manager" asp-controller="Account" asp-route-cid="@c.RoleId" style="color:black">
                            @c.RoleName
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div style="" class="col-10">
            <a asp-controller="Account" asp-action="CreateAdmin" style="color:black">Create new Admin</a>
            @if (TempData["msg"] != null)
            {
                <p style="color:green">@TempData["msg"]</p>
            }
            <table width="100%" border="1">
                <tr>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th colspan="3">Action</th>
                </tr>
                @foreach (var e in ViewBag.lists)
                {
                    <tr>
                        <td>
                            <img src="~/avatars/@e.User.Avatar"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="preview" />
                        </td>
                        <td>@e.User.Username</td>
                        <td>@e.User.Email</td>
                        <td>@e.User.Phone</td>
                        <td>@e.User.Address</td>
                        <td><a style="color:black" asp-action="Ban" asp-controller="Account" asp-route-id="@e.User.UserId">@(e.IsActive == 1 ? "Ban user": "Unban user")</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>