﻿@using PRN211_Project.Models;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/animated-headline.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Custom CSS -->
    <style>
        body {
            font-family: Arial, sans-serif;
        }

    </style>
</head>
<body>
    @*<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
    <div class="preloader-circle"></div>
    <div class="preloader-img pere-text">
    <img src="~/Logo/loder.png" alt="">
    </div>
    </div>
    </div>
    </div>
    <!-- Preloader Start-->
    <jsp:include page="/user/navigator/header.jsp" />

    @{
    string imagePath = Url.Content("~/Logo/bgalpha.png");
    }

    <style>
    .login-body[data-is-background-set="true"] {
    background-image: url('@imagePath');
    }
    </style>*@
    <div class="container-fluid" style="max-width: 80vw">
        <div class="card">
            <h1 class="card-header">
                Forgot Password
            </h1>
            <div class="card-body">
                <form asp-action="change_password" asp-controller="Account" method="get" id="formTest">
                    <h1 class="card-title">Forgot your password?</h1>
                    <p class="card-text">
                        Follow these simple steps to reset your account:

                        Enter your username or email.
                        Visit your email account, open the email sent by us.
                        Follow the instruction in the mail to change password.
                    </p>
                    <input name="info" type="text" required=""
                           placeholder="Enter your user name or email" id="info"
                           class="form-control" value="">
                    <br /><div id="custom-nav" class="custom-nav"><a href="#" onclick="check()">Get code via mail.</a></div>
                    <style>
                        .custom-nav a {
                            text-decoration: none; /* Remove underline */
                            color: #333; /* Default link color */
                        }

                            .custom-nav a:hover {
                                color: #007bff; /* Change color on hover */
                            }
                    </style>
                    <input id="condition" name="condition" hidden value="" type="text" />
                    <input name="code" type="text" required="" id="code"
                           placeholder="Enter code"
                           class="form-control" value="">

                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Link to Bootstrap JS (Optional, if you need JavaScript functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#formTest").submit(function () {
                var code = document.getElementById("code").value;
                var condition = document.getElementById("condition").value;

                if(code != condition){
                    event.preventDefault();
                    alert("The code is not correct!");
                }
            });
            

        });
        function check() {
            event.preventDefault();
            //alert("hi");
            var info = document.getElementById("info").value;
            $.ajax({
                url: "/Account/SendMail",
                data: { info: info },
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        document.getElementById("condition").value = data.code;
                        //alert(data.code);
                    } else {
                        alert(data.message);
                    }
                }
            });
        }

        

    </script>
</body>
</html>

