﻿@using PRN211_Project.Models;
@using System.Text.Json;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>

    </style>
</head>
<body>
    <div class="container-fluid" style="max-width: 80vw">
        <div class="row">
            <div class="col-md-3 sidebar">
                <!-- Navigation content here -->
                <p>Information & Contact</p>
                <nav>
                    <ul class="custom-nav">
                        <li><a asp-controller="Account" asp-action="Information">Information</a></li>
                        <li><a asp-controller="Account" asp-action="user_change_password">Change password</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 content">
                <form asp-controller="Account" asp-action="user_change_password" method="post">
                    <div class="card mb-4 detail-card">
                        <h5 class="card-header">Change Password</h5>

                        <div class="card-body">
                            <!--<form id="formAccountSettings" method="POST" onsubmit="return false">-->
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label class="col-form-label" for="basic-default-name">Old password</label>
                                    <input @*asp-for="Username"*@ type="password" class="form-control" id="basic-default-name" placeholder="Old password" name="oldpass" required />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">New pasword</label>
                                    <input @*asp-for="Email"*@ type="password" class="form-control" id="pass" name="pass" required />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">Re pasword</label>
                                    <input @*asp-for="Email"*@ type="password" class="form-control" id="repass" name="repass" required />
                                </div>
                                @if (TempData["errorpass"] != null)
                                {
                                    <div style="color: red; font-size:10px; text-align:left">
                                        <span style="color:red">@TempData["errorpass"]</span>
                                    </div>
                                }
                            </div>
                            <div class="mt-2">
                                <input class="btn btn-primary me-2" type="submit" name="infochange" value="Save changes">
                                <a type="button" class="btn btn-outline-secondary" href="Account/change_password">Cancel</a>
                            </div>
                            <!--                                                                </form>-->
                        </div>

                        <!-- /Account -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Link to Bootstrap JS (Optional, if you need JavaScript functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function previewImage() {
            var preview = document.getElementById('preview');
            var file = document.getElementById('thumbnail').files[0];
            if (file.size > 2 * 1024 * 1024) {
                alert("Dung lượng ảnh vượt quá giới hạn cho phép!");
                document.getElementById('thumbnail').value = "";
            } else {
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                };

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = "";
                }
            }
        }
        function resetInput(s) {
            document.getElementById("preview").src = s;
        }
                                //tinymce.init({
                                //    selector: 'textarea',
                                //    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                                //    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
                                //    images_upload_url: '/WebApplication1/UploadImageServlet',
                                //    images_upload_handler: function (blobInfo, success, failure) {
                                //        var xhr, formData;
                                //        xhr = new XMLHttpRequest();
                                //        xhr.withCredentials = false;
                                //        xhr.open('POST', '/SWP391_1/UploadImageTinyMCE');
                                //        xhr.onload = function () {
                                //            var json;

                                //            if (xhr.status != 200) {
                                //                failure('HTTP Error: ' + xhr.status);
                                //                return;
                                //            }

                                //            json = JSON.parse(xhr.responseText);

                                //            if (!json || typeof json.location != 'string') {
                                //                failure('Invalid JSON: ' + xhr.responseText);
                                //                return;
                                //            }

                                //            success(json.location);
                                //        };
                                //        formData = new FormData();
                                //        formData.append('file', blobInfo.blob(), blobInfo.filename());
                                //        xhr.send(formData);
                                //    }
                                //});
    </script>
</body>

</html>

