﻿@using PRN211_Project.Models
@model PRN211_Project.Models.Quiz
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <title>Create Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
        }

        .text-danger {
            color: #dc3545;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

            .btn-primary:focus {
                box-shadow: none;
            }

            .btn-primary:active {
                background-color: #004080;
                border-color: #004080;
            }

        .btn-link {
            color: #007bff;
            text-decoration: none;
        }

            .btn-link:hover {
                text-decoration: underline;
            }

        .back-link {
            margin-top: 20px;
        }
    </style>
</head>

<form method="post" asp-controller="Quizzes" asp-action="Create">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Time" class="control-label">Time</label>
        <input asp-for="Time" class="form-control" /> 
        <label>(Please enter by format: hh:mm:ss)</label>
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="SubjectId">Subject</label>
        <select class="form-control" asp-for="SubjectId" asp-items="@ViewBag.Subjects">
            <option value="">Select a subject</option>
        </select>
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>




<div>
    <a asp-action="Index">Back to List</a>
</div>