﻿@model PRN211_Project.Models.Subject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Create Subject</h1>

<head>
    <title>Create Subject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
            text-align: center;
        }

        .table {
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            font-size: 14px;
        }

        .text-danger {
            color: #dc3545;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

            .btn-primary:hover {
                background-color: #0056b3;
                border-color: #0056b3;
            }

            .btn-primary:focus {
                box-shadow: none;
            }

            .btn-primary:active {
                background-color: #004080;
                border-color: #004080;
            }

        .btn-link {
            color: #007bff;
            text-decoration: none;
        }

            .btn-link:hover {
                text-decoration: underline;
            }

        .back-link {
            margin-top: 20px;
        }

        hr {
            margin-top: 30px;
            margin-bottom: 30px;
            border: 0;
            border-top: 1px solid #dcdcdc;
        }

        /* Additional styling */
        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            width: 400px;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .form-title {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-button {
            text-align: center;
            margin-top: 20px;
        }

        /* Center the existing subjects table */
        .existing-subjects {
            text-align: center;
            margin-bottom: 20px;
        }

        /* Styling for table cells */
        .table-cell {
            vertical-align: middle;
        }
    </style>
</head>


<body>
    <div class="center-content">
        <div class="form-container">
            <div class="form-title">
                <h1>Create Subject</h1>
            </div>
            <div class="existing-subjects">
                <h2>Existing Subjects</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Subject Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subject in ViewBag.ExistingSubjects)
                        {
                            <tr>
                                <td class="table-cell">@subject.SubjectName</td>
                                <td class="table-cell">
                                    <a href="@Url.Action("EditSubject", "Quizzes", new { id = subject.SubjectId })">Edit</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <hr />

            <form method="post" asp-controller="Quizzes" asp-action="CreateSubject">
                <div class="form-group">
                    <label for="newSubjectName">New Subject Name</label>
                    <input type="text" class="form-control" name="newSubjectName" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>

            <div class="back-link">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</body>

<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>