﻿@using PRN211_Project.Models
@model PRN211_Project.Models.Quiz
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Delete Quiz</h2>

<h3>Are you sure you want to delete this quiz?</h3>
<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @(Model.Time.HasValue ? Model.Time.ToString() : "")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed" asp-controller="Quizzes" asp-route-id="@Model.QuizId">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>