﻿@model PRN211_Project.Models.Quiz
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Detail Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .quiz-details {
            border: 1px solid #dee2e6;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

            .quiz-details h2 {
                margin-bottom: 20px;
            }

            .quiz-details dl {
                display: grid;
                grid-template-columns: auto 1fr;
                row-gap: 10px;
                margin-bottom: 20px;
            }

            .quiz-details dt {
                font-weight: bold;
            }

            .quiz-details a {
                display: inline-block;
                margin-top: 10px;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="quiz-details">
            <h2>Detail Quiz</h2>
            <hr />
            <dl>
                <dt>Title:</dt>
                <dd>@Html.DisplayFor(model => model.Title)</dd>
                <dt>Time:</dt>
                <dd>@(Model.Time.HasValue ? Model.Time.ToString() : "")</dd>
                <dt>Subject:</dt>
                <dd>@Html.DisplayFor(model => model.Subject.SubjectName)</dd>
            </dl>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</body>
</html>