﻿@model PRN211_Project.Models.Subject
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Edit Subject</h1>

<form method="post" asp-controller="Quizzes" asp-action="EditSubject">
    <input type="hidden" asp-for="SubjectId" />

    <div class="form-group">
        <label for="SubjectName">Subject Name</label>
        <input type="text" class="form-control" asp-for="SubjectName" />
        <span asp-validation-for="SubjectName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>