﻿@using PRN211_Project.Models
@model Quiz
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Edit Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Edit Quiz</h2>

        <form asp-action="Edit" class="mt-4">
            <input type="hidden" asp-for="QuizId" />

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Time" class="control-label">Time</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SubjectId" class="control-label">SubjectId</label>
                <input asp-for="SubjectId" class="form-control" />
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="mt-3 alert alert-danger">
                @ViewData["ErrorMessage"]
            </div>
        }
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="mt-3 alert alert-success">
                @ViewData["SuccessMessage"]
            </div>
        }
    </div>

</body>
</html>