﻿@model List<PRN211_Project.Models.Quiz>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title>Quizzes List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        .table {
            border: 1px solid #dee2e6;
            border-collapse: collapse;
            width: 100%;
        }

            .table th, .table td {
                border: 1px solid #dee2e6;
                padding: 8px;
                text-align: center;
            }

            .table th {
                background-color: #f2f2f2;
            }

        .btn-group {
            margin-right: 10px;
        }

        .btn {
            border-radius: 5px;
            margin-right: 5px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }


        h2 {
            color: #333;
        }

        .mb-3 {
            margin-bottom: 20px;
        }

        .btn-sm {
            font-size: 12px;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <h2 class="mb-4">Quizzes</h2>
        <div class="mb-3">
            <a asp-controller="Quizzes" asp-action="Create" class="btn btn-primary">Create a new Quiz</a> <br />
            <a asp-controller="Quizzes" asp-action="CreateSubject" class="btn btn-secondary">Create Subject</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Time</th>
                    <th>Subject ID</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quiz in Model)
                {
                    <tr>
                        <td>@quiz.Title</td>
                        <td>@(quiz.Time.HasValue ? quiz.Time.ToString() : "")</td>
                        <td>@quiz.Subject.SubjectName</td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Quizzes" asp-action="Detail" asp-route-id="@quiz.QuizId" class="btn btn-info btn-sm">Detail</a>
                                <a asp-controller="Quizzes" asp-action="Edit" asp-route-id="@quiz.QuizId" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-controller="Quizzes" asp-action="Delete" asp-route-id="@quiz.QuizId" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="display:flex; align-content:start; margin-top: 20px;margin-left:20px">
            <form asp-controller="Home" asp-action="HomePage">
                <button>Back to the Home Page</button>
            </form>
        </div>
    </div>
</body>
</html>